* {
  margin: 0;
  outline: none;
}

.regist {
  margin-top: 250px;
}

.login-form {
  width: 300px;
  height: 295px;
  padding: 15px 25px 0 25px;
  background-color: #7a7a7a;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-form h1 {
  line-height: 50px;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #e4e4e4;
  text-align: center;
}

.login-form input {
  border-radius: 20px;
  width: 260px;
  padding: 15px;
  margin: 10px 0;
  background-color: #d5dad9;
}

.login-form input[type=submit] {
  width: 100%;
  max-width: 100px;
  padding: 10px;
}

@media (max-width: 400px) {
  .login-form {
    max-width: 260px;
    width: 100%;
  }
  .login-form input {
    width: 100%;
    max-width: 230px;
  }
}

@media (min-width: 992px) {
  .login-form input {
    cursor: pointer;
  }
  .login-form input:hover {
    background-color: white;
  }
}
